.wrapper {
  background: #d7b98e;
}

.wrapperHeader {
  color: #fff;
}

.iconWrapper {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media screen and(max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .companyWrapper {
    flex: 2;
  }

  .workedWith {
    color: #fff;
  }

  .companyName {
    height: 0;
    width: 0;
    font-size: 0;
  }

  .companyLink {
    display: flex;
    padding: 20px;
  }

  .svg {
    width: 100%;
    opacity: 0.75;
    transition: opacity 0.25s 0.1s;

    &:hover {
      opacity: 1;
    }
  }
}
