@font-face {
  font-family: Lato;
  src: url('lato-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato-Black;
  src: url('lato-bold.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato-Semi;
  src: url('lato-semibold.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: JB-Bold;
  src: url('jb-mono.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
