@font-face {
  font-family: Lato;
  src: url('Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato-Black;
  src: url('Lato-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: Lato-Semi;
  src: url('Lato-Semibold.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: JB-Bold;
  src: url('JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
