.heroWrapper {
  display: flex;
  min-height: 85vh;
  margin-top: 50px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Lato;
  margin: 0;
  margin-left: 50px;
  flex: 1;
}

.welcome {
  font-size: 48px;
  margin: 0;
  margin-top: 20px;
}

.introText {
  max-width: 80%;
}

.rotatingText {
  font-size: 30px;
  margin-top: 0;
  font-family: 'JB-Bold';
  border: 1px solid;
  display: block;
}
