.wrapper {
  background: #cb4042;
  font-family: JB-Bold, sans-serif;
  color: #fff;
  min-height: 50vh;
}

.title {
  color: #fff;
  opacity: 0.9;
}

.tick {
  height: 32px;
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  fill: #fff;
}

.servicesWrapper {
  display: flex;
  align-items: center;

  @media screen and(max-width: 600px) {
    flex-direction: column;
  }
}

.servicesCardWrapper {
  flex: 1;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and(max-width: 600px) {
    margin: 30px auto;
  }
}

.servicesList {
  flex: 1;
}

.logoWrapper {
  flex: 0.25;
  padding: 0 5px;
}

.servicesList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.service {
  flex: 1;
  margin: 10px 0;
  text-transform: uppercase;
  display: inline-block;

  @media screen and(max-width: 600px) {
    margin: 5px 0px;
  }
}

.serviceInfo {
  flex: 2;
  font-weight: light;
  display: inline;
  font-size: 12px;

  @media screen and(max-width: 600px) {
    margin-bottom: 10px;
  }
}

.contactWrapper {
  flex: 1;
  text-align: center;
  padding: 30px;
}

.contactTitle {
  font-size: 48px;
  color: #fff;
  opacity: 0.75;
}

.contactLink {
  font-size: 56px;
  &:hover {
    text-decoration: underline;
  }

  @media screen and(max-width: 600px) {
    font-size: 24px;
  }
}
