$white: #fff;
$end-bg: #cb4042;
$start-bg: mix($white, $end-bg, 30%);

$picture-size: 500px;
$headshot-width: 100%;
$graphic-size: 100%;

.picture {
  padding: 0;
  height: 100%;
  width: $headshot-width;
  background: url('/images/damien.png') 50% 50% no-repeat;
  position: relative;
  z-index: 2;
  margin: 0 auto;

  @media screen and(max-width: 600px) {
    background-size: cover;
    width: 90vw;
    max-height: 50vh;
  }
}

.pictureBg {
  border-radius: 50px;
  background: $end-bg;
  background: radial-gradient(circle at var(--x) var(--y), $start-bg, $end-bg);
  height: $graphic-size;
  width: $graphic-size;
  position: absolute;
  z-index: 1;
  top: 100px;

  @media screen and(max-width: 600px) {
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 90vw;
  }
}

.pictureWrapper {
  width: $picture-size;
  height: $picture-size;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  margin: 50px 0;
  transform: perspective(800px) rotateY(var(--picX)) rotateX(var(--picY));
  transition: transform 0.2s ease-out;

  &:hover {
    transform: perspective(800px) rotateY(var(--picX)) rotateX(var(--picY))
      scale(0.95);
  }

  @media screen and(max-width: 600px) {
    height: 50vh;
    width: 90vw;
    margin: 0 auto;
  }
}
